
<div id="info-section-profile" class="container-fluid no-gutter profile " ng-controller="AppIndexCtrl">
    <div class="row">
        <div class="col-xs-7 user">
            <div class="row">
                <div class="col-xs-3 col-sm-4 text-center">
                    <img ng-src="{{baseurl}}{{user.photo}}" alt="Avatar" class="img-circle" /> <!-- src="img/avatar.jpg" -->
                </div>
                <div class="col-xs-9 col-xs-8">
                    <span class="valign-wrapper">
                        <strong>{{user.name}}</strong> <br />
                        {{user.email}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-5 workspace text-center">
            <div class="text-left inline-block">
                Ingecheckt op: <br />
                Verdieping:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{floor.FloorNum}}</b> <br />
                Werkplek:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{seat}}</b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 footer top-line">
            <button class="btn"><i class="fa fa-repeat text-muted">&nbsp;&nbsp;</i> Locatie wijzigen</button>
            <button class="btn">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
</div>

<div auto-height>
    <ng-include id="app-index-svg-include" src="'partials/svg.html'"></ng-include>
</div>
