
<div class="container-fluid" ng-controller="AppIndexCtrl">
    <div class="row info-section">
        <div class="col-sm-6 col-xs-7">
            <div class="row row-padding ">
                <div class="col-sm-3 col-xs-3 avatar">
                    <img src="img/avatar.jpg" alt="Avatar" class="img-circle" />
                </div>
                <div class="col-sm-9 col-xs-9 user">
                    <b>{{user.name}}</b><br/>
                    {{user.email}}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-5 floor-info">
            <div class="row row-padding ">
                <div class="col-sm-6 col-xs-12">
                    Ingechecked op: <br />
                    Verdieping: {{floor}}<br />
                    Werkplek: {{seat}}
                </div>
                <div class="col-sm-6 col-xs-12 btn-wrapper">
                    <button type="button" class="btn btn-default btn-block">Uitchecken</button>
                    <button type="button" class="btn btn-default btn-block">Floors</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<ng-include id="app-index-svg-include" src="'partials/svg.html'"></ng-include>
