
<div class="container-fluid">
    <div class="row info-section">
        <div class="col-sm-6 col-xs-7">
            <div class="row row-padding ">
                <div class="col-sm-3 col-xs-3 avatar">
                    <img src="img/avatar.jpg" alt="Avatar" class="img-circle" />
                </div>
                <div class="col-sm-9 col-xs-9 user">
                    <b>Floor Weteringa</b><br/>
                    floor.weteringa@nsstations.nl
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-5 floor-info">
            <div class="row row-padding ">
                <div class="col-sm-6 col-xs-12">
                    Ingechecked op: <br />
                    Verdieping: 8 <br />
                    Werkplek: 14
                </div>
                <div class="col-sm-6 col-xs-12 btn-wrapper">
                    <button type="button" class="btn btn-default btn-block">Uitchecken</button>
                    <button type="button" class="btn btn-default btn-block">Floors</button>
                </div>
            </div>
        </div>
    </div>
    <div id="svg-container"></div> 
</div>
