
<div ng-controller="FloorSelectCtrl" class="container-fluid" style="height: 100%;">
    
    <div content-for="info-bar-title">
        {{floor.floor}}
        <button type="button" class="btn btn-primary btn-sm info-bar-btn">Automatisch inchecken</button>
    </div>

    <ng-include src="'partials/svg.html'" style="position:absolute;left:0;top:0;bottom:65px;width:100%;"></ng-include>
    
    <div id="svg-footer">
        <span class="text-success">{{floor.free}} werkplekken vrij</span> | Klik op een werkplek om in te checken.
    </div>

</div>



