
<div class="container-fluid" ng-controller="FloorsCtrl">
    <div class="row row-padding info-section">
        <div class="col-xs-12">
            Selecteer een verdieping:
        </div>
    </div>
    <div class="row row-padding floor-list-container">
        <table class="table table-striped">
            <tr ng-repeat="floor in floors">
                <td>{{floor.floor}}</td>
                <td><i class="fa fa-users"></i></td>
                <td>{{floor.present_people}} aanwezigen</td>
                <td>
                    <i class="fa fa-ban" ng-if="false"></i>
                    <i class="fa fa-check-circle" ng-if="floor.available"></i>
                </td>
                <td>{{floor.workspace}} werkplekken</td>
                <td>*</td>
            </tr>
        </table>
    </div>
</div>
