

<div content-for="info-bar-title">
    Selecteer een verdieping:
    <i class="pull-right">
        367 ingecheckt
    </i>
    
</div>


<div class="scrollable" ng-controller="FloorsCtrl">
    <div class="scrollable-content no-scrollable-x">
        <div class="row ">
            <div class="col-xs-12 ">
                <div class="floor-list-container">
                    <table class="table table-striped floor-list">
                        <tr ng-repeat="floor in floors" ng-click="select_floor(floor.FloorId)">
                            <td>Verdieping {{floor.FloorNum}}</td>
                            <td><i class="fa fa-users"></i></td>
                            <td>{{floor.NonEmptySeat}} aanwezig</td>
                            <td>
                                <i class="fa fa-ban text-danger" ng-if="floor.SeatCount == 0 || floor.SeatCount - floor.NonEmptySeat == 0"></i>
                                <i class="fa fa-check-circle text-success" ng-if="(floor.SeatCount>0) && (floor.SeatCount-floor.NonEmptySeat>0)"></i>
                            </td>
                            <td>{{floor.SeatCount - floor.NonEmptySeat}} vrij</td>
                            <td><i class="fa fa-map-marker"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>            
        
    </div>
</div>


