<div class="app">
    <div class="navbar navbar-app navbar-absolute-top" ng-controller="NavCtrl">
        <div class="navbar-brand" ><!-- ui-sref="test.navigation" -->
            NS Werkplek
        </div>

        <div class="btn-group pull-right">
            <a class="btn btn-navbar" ui-sref="app.profile"> <i class="fa fa-user text-muted"></i> Profiel </a>
            <a class="btn btn-navbar" ui-sref="app.employees"> <i class="fa fa-search text-muted"></i> Zoeken </a>
        </div>
    </div>
    <div class="app-body">
        <div class="app-content" ui-view="mainContent">

            <div class="container-fluid" style="min-height: 45px;">
                <div class="row info-section" ui-view="infoBar">
                    <div class="col-xs-12" yield-to="info-bar-title">
                        Default title
                    </div>
                </div>
            </div>
            <div ui-view="subContent" class="sub-content"></div>
            
        </div>
    </div>
</div>

