
<!-- login -->
<div class="container" ng-controller="LoginCtrl">

    <form name="form" class="form-signin" role="form">
        <h2 class="form-signin-heading">Welcome to NHW</h2>
        <input type="email" class="form-control" ng-model="user.email" placeholder="Email address" required autofocus />
        <input type="password" class="form-control" ng-model="user.authKey" placeholder="Authorization key" required />
        <button class="btn btn-block login-btn" type="button" ng-click="login(user)" ng-disabled="form.$invalid">
            <i class="fa fa-check fa-2x"></i>
        </button>
        <p>{{error}}</p>
    </form>

</div> <!-- /container -->
