
// styles
@import "variables.less";
@import "mixins.less";
@import "test.less";



//
// bootstrap && angular-mobile override
// 
.navbar-brand {
    font-weight: bold;
    color: @brand-color;
}

.navbar-app {
    background-color: @navbar-bg;
}

.navbar-app .btn-navbar {
    text-transform: none;
}

.navbar-absolute-top {
    border-bottom-width: 0px;
}



//
//
//

.app-body {
    background-color: @app-body-bg;
}

.row-padding {
    
    [class^="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.no-gutter {
    [class^="col-"] {
        padding-left: 0px;
        padding-right: 0px;
    }
}


// info-section

.info-section {
    background-color: @info-section-bg;
    color: @info-section-text-color;
    border-bottom: 1px solid @info-section-border;
    // box-shadow: 0 2px 5px #D4D4D4; //#D4D4D4

    .btn-default {
        background-color: @info-section-bg;
        border-color: @profile-btn-border-color;
        color: @profile-btn-text-color;
    }

    .user {
        color: @profile-user-text-color;
    }
}

@media (max-width: @screen-xs-max) {
    .info-section {
        font-size: @xs-font-size;
        
        .avatar {
            padding-right: 7px;
        }

        .user {
            padding-left: 0px;
        }

        .floor-info {
            background-color: @profile-workspace-bg;
        }

        .btn-wrapper {
            padding-top: 0px;
        }
    }
}

// .info-section + .scrollable, .sub-content > .scrollable {
//     padding-top: 44px;
// }

.sub-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}




//
// login page
//

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1px;

    .form-signin-heading {
        margin: 30px auto;
        font-weight: bold;
        color: #ababab;
        text-align: center;
    }

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;

	    background-color: #ecf2f4;
	    border-radius: 1px;
	    border: none;
        margin-bottom: 15px;
    }

    .login-btn {
	    border-radius: 1px;
	    color: #fff;
        background-color: #8eb5e2;
    }

}

.floor-list-container {
    // padding: 18px;
    // #gradient > .vertical(#E5E5F9, #CECEEF);
    
    table.floor-list {
        color: #777;
        background-color: #ddd;

        td:first-child {
            color: #333;
            font-weight: bold;
        }
    }
}

.no-scrollable-x {
    overflow-x: hidden;
}

.info-bar-btn {
    position: absolute;
    right: 5px;
    top: 8px;
}

// SVG
#svg-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // padding-bottom: 64px;
}

#svg-footer {
    position: absolute;
    width: 100%;
    height: 44px;
    line-height: 44px;
    bottom: 40px;
}


.seat-available {
    fill: green;
}

.seat-unavailable {
    fill: red;
}

.popup {
    position: absolute;
    background-color: #F0F0F0;
    padding: 10px;


    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
    .close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    }

    .avatar {
        padding-right: 7px;
    }

    .user {
        padding-top: 7px;
    }

    .footer-row {
        margin-top: 10px;
        height: 30px;
        line-height: 30px;

        > div {
            text-align: center;
        }

        .details {
            border-right: 1px solid @split-line-color;
        }
    }
}


@media (max-width: @screen-xs-max) {
    .popup {
        font-size: 12px;
    }
}

#user_popup {
    width: 250px;
    // height: 200px;
    left: 50px;
    top: 50px;
}

#workspace_popup {
    width: 250px;
    // height: 200px;
    left: 50px;
    top: 50px;
}

.top-line {
    border-top: 1px solid @split-line-color;
}


.golden {
    color: #FF9900;
}


// #checkin_modal {
// // .profile {

//     .container-fluid {
//         background-color: @profile-workspace-bg; // #F9F9F9;
//     }


// }

.profile {
    background-color: @profile-workspace-bg;
    
    .user {
        padding-right: 15px;
        background-color: @profile-user-bg; //#F3F3F3;
        padding: 20px 10px 5px;
        text-align: center;

        img {
            margin: 10px 30px;
            width: 120px;
        }
    }

    .workspace {
        background-color: @profile-workspace-bg; // #F9F9F9;
        color: @profile-workspace-text-color;
        padding: 30px 5px 30px 20px;
        line-height: 1.5;
    }

    .top-line {
        border-color: #E8E8E8;
    }
}

@media (max-width: @screen-xs-max) {
    .profile {
        font-size: 12px;
        
        .user img {
            width: 80px;
        }
    }
}

#user-profile {
    background-color: @profile-user-bg;
    padding: 20px 30px 0 20px;

    .row.row-padding {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .workspace {
        margin: 0 0 20px;
        padding: 0px;
    }
}

@media (max-width: @screen-xs-max) {
    #user-profile {
        padding: 0px;
        
        .workspace {
            margin: 0px 0px 15px;
        }
    }
}


.mymodal {
    .modal-dialog {
        margin: 50px 10px;
    }
    
    .modal-header {
        padding: 10px;
        border-bottom-width: 0px;

        .modal-title {
            font-weight: bold;
            line-height: 1.1;
        }
    }

    .modal-body {
        padding: 0px;

    }
    
    .modal-footer {
        background: @profile-user-bg;
        padding: 9px 10px 10px;
        margin-top: 0px;
        border-top-width: 0px;

        button {
            color: @profile-btn-text-color;
            background: @profile-user-bg;
            border-color: @profile-btn-border-color; //#FCFCFC;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .mymodal {
        .modal-dialog {
            margin: 50px auto;
            width: 450px;
        }
    }
}

// switch
.switch.inline {
    display: inline-block;
}

.switch.green.active {
    background-color: #66CC66;
    border: 1px solid #66CC66;

    .switch-handle {
        border-color: #66CC66;
    }
}



.switch.switch-sm {
    height: @switch-sm-height;
    width: 2*@switch-sm-height;

    .switch-handle {
        width: @switch-sm-height;
        height: @switch-sm-height;
    }

    &.active {
        .switch-handle {
            transform: translate3d(@switch-sm-height, 0px, 0px);
        }
    }
}


