.navbar-brand {
  font-weight: bold;
  color: #010169;
}
.navbar-app {
  background-color: #ffffff;
}
.navbar-app .btn-navbar {
  text-transform: none;
}
.navbar-absolute-top {
  border-bottom-width: 0px;
}
.app-body {
  background-color: #ffffff;
}
.higher-row {
  margin-bottom: 15px;
}
.higher-row [class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.info-section {
  background-color: #f0f0f0;
  color: #8a8a8a;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1px;
}
.form-signin .form-signin-heading {
  margin: 30px auto;
  font-weight: bold;
  color: #ababab;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  background-color: #ecf2f4;
  border-radius: 1px;
  border: none;
  margin-bottom: 15px;
}
.form-signin .login-btn {
  border-radius: 1px;
  color: #fff;
  background-color: #8eb5e2;
}
