
@import "bootstrap_variables.less";

@deepblue-color: #0C077F;
@brand-color: @deepblue-color; // #010169;

@navbar-bg: #FFCC33; // #FFF;

@app-body-bg: #FFF;

@info-section-bg: #F0F0F0;
@info-section-border: #E6E6E2;
@info-section-text-color: darken(@info-section-bg, 40%);

@xs-font-size: 12px; //10px;

@profile-user-bg: @info-section-bg;
@profile-workspace-bg: lighten(@profile-user-bg, 3%);
@profile-user-text-color: darken(@profile-user-bg, 80%);
@profile-workspace-text-color: @info-section-text-color;

@profile-btn-text-color: @deepblue-color; // #007AFF;
@profile-btn-border-color: #FFF;

@split-line-color: #CECECE; // #E8E8E8

@switch-sm-height: 20px;

@currrent-user-checkin-color: #2ECEFA;

